<ngx-smart-modal #maestro_form_modal identifier="maestro_form_modal" [closable]="false" [escapable]="false"
  [dismissable]="false" customClass="nsm-dialog-animation-fade modal-smart-60">
  <form [formGroup]="formData" (ngSubmit)="!formData.valid || submitMaestroForm(formData)">
    <div class="modal-header">
      <h4 class="modal-title">Formulario Maestros</h4>
    </div>
    <div class="modal-body">
      <div class="row">

        <div class="col-lg-12">
          <div class="form-group" [ngClass]="{'has-error': (formData.get('nombre').hasError('required') || formData.get('nombre').hasError('maxlength')) && (formData.submited || formData.get('nombre').dirty) }">
            <label for="nombre">Nombre
              <span class="error-control" *ngIf="formData.get('nombre').hasError('required') && (formData.submited || formData.get('nombre').dirty)">requerido!</span>
              <span class="error-control" *ngIf="formData.get('nombre').hasError('maxlength') && (formData.submited || formData.get('nombre').dirty)">maximo 40 carateres!</span>
              <span>*</span>
            </label>
            <div class="input-group">
              <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" autocomplete="off" placeholder="Nombre del maestro..." aria-describedby="sizing-addon3">
              <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-home"></i></span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" (click)="maestro_form_modal.close(); formData.reset()">
        <i class="fa fa-times-circle"></i> Cancelar</button>
      <button type="submit" class="btn btn-success pull-right" [disabled]="!this.formData.valid" *ngIf="accion_form==1">
        <i class="fa fa-save"></i> Guardar</button>
    </div>
  </form>

</ngx-smart-modal>